/* Base  //////////////////////////////////////////////////////////////////// */
html,
body {
  margin: 0px;
  padding: 0px;
  color: #484848;
  background: #fff;

  font-family: Avenir;
}
body.modal-open {
  overflow-y: hidden;
}

/* Specific styles ////////////////////////////////////////////////////////// */
.color-brand {
  color: #446CB3;
}
.f-19 {
  font-size: 19px;
}

/* Global /////////////////////////////////////////////////////////////////// */
.primary-btn:focus {
  outline: 0 none;
  border-color: rgba(68,108,179,0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(68,108,179,0.6);
}
.primary-btn:hover {
  cursor: pointer;
  background-color:#36568f; 
}
/* Fonts //////////////////////////////////////////////////////////////////// */
@font-face {
  font-family: Avenir;
  src: url("webfonts/Avenir.ttc") format('OpenType');
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: Avenir-Next;
  src: url("webfonts/Avenir-Next.ttc") format('OpenType');
} */

/* Navbar /////////////////////////////////////////////////////////////////// */
.navbar {
  background: white;
}
.custom-nav-brand img {
  height: 30px;
  margin-right: 10px;
}
.navbar-toggler {
  width: 40px;
  height: 40px;
  border: none;
  outline: none !important;
  display: flex;
  justify-content: center;
}
.navbar-toggler-icon {
  width: 50px;
}
.custom-item {
  cursor: pointer;
}
@media (max-width: 450px) { 
  .custom-nav-brand img {
    height: 40px;
    margin-right: 0px;
  }
}

/* Search /////////////////////////////////////////////////////////////////// */
/* General ------------------------------------------------------------------ */
.search-inputGroup-lg {
  margin-top: 20px;
  height: 76px;
  border-radius: 4px;
  box-shadow: rgba(156, 160, 171, 0.25) 0px 5px 30px 0px;
}
.search-inputGroup-sm {
  width: 300px;
  height: 55px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}
/* Input -------------------------------------------------------------------- */
.search-input {
  height: 76px;
  border-right: 0px;
  border-left: 0px;
  padding-left: 8px;
  border-color: #CED4DA !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
/* Addons ------------------------------------------------------------------- */
.search-addon-r {
  background: white;
  border-left: 0px;
}
.search-addon-l {
  border-right: 0px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-addon-icon {
  margin-left: 10px;
}
/* Button ------------------------------------------------------------------- */
.search-btn {
  color: white;
  padding: 25px 20px;
  border-radius: 4px;
  font-family: Avenir;
  text-align: center;
  background-color: #446CB3;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
/* Small -------------------------------------------------------------------- */
.search-inputGroup-sm > .search-input {
  height: 55px;
  font-size: 18px;
}
.search-inputGroup-sm  .search-addon-icon {
  font-size: 15px;
  margin: 0px;
}
.search-inputGroup-sm > .search-addon-r {
  padding: 1px;
}
.search-inputGroup-sm  .search-btn {
  display: none;
}
/* Media -------------------------------------------------------------------- */
@media (max-width: 450px) { 
  .search-btn {
    display: none;
  }
  .search-inputGroup-lg {
    height: 50px;
  }
  .search-inputGroup-lg > .search-input {
    height: 50px;
  }
  .search-addon-icon {
    font-size: 15px;
  }
  .search-inputGroup-sm > .search-input {
    height: 40px;
    font-size: 15px;
  }
  .search-inputGroup-sm {
    width: 225px;
    height: 40px;
  }
}

/* Skeleton ///////////////////////////////////////////////////////////////// */
.skeleton-title {
  width: 100%;
  height: 25px;
  max-width: 350px;
  margin-top: 16px;
}
.skeleton-img {
  width: 100%;
  padding: 0px;
  height: 220px;
  margin-top: 16px;
  background: #dadada;
}
.skeleton-subtitle {
  width: 100%;
  padding: 0px;
  height: 10px;
  margin-top: 16px;
  background-color: #e7e7e7;
}
.skeleton-subtitle-sm {
  width: 75%;
  height: 5px;
  padding: 0px;
  margin: 16px 0px 32px 0px;
  background-color: #e7e7e7;
}
.skeleton-animate {
  background: #dadada;
  transition-timing-function: ease;
  animation: colorchange 1.25s infinite;
  -webkit-animation: colorchange 1.25s infinite;
}
/* Comment out during dev, prevent flash */
/* This hurts my eyes lol */
@keyframes colorchange {
  0%   {background: #e7e7e7;}
  25%  {background: #dadada;}
  50%  {background: #e7e7e7;}
  75%  {background:#dadada;}
  100% {background:#e7e7e7;}
}
@-webkit-keyframes colorchange {
  0%   {background: #e7e7e7;}
  25%  {background: #dadada;}
  50%  {background: #e7e7e7;}
  75%  {background:#dadada;}
  100% {background:#e7e7e7;}
}

/* Overlay ////////////////////////////////////////////////////////////////// */
.overlay {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  background: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-card {
  margin: 16px;
  padding: 16px 16px 24px 16px;
  width: 100%;
  max-width: 570px;
  background: white;
}
.auth-card-header {
  width: 100%;
  padding: 7px 5px;
  margin-bottom: 16px;
  line-height: 0px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.auth-card-header h4 {
  margin: 0px;
}
.auth-card-header i:hover {
  cursor: pointer;
}
.auth-card-body {
  padding: 0px 5px;
}
.auth-btn {
  width: 100%;
  color: white;
  line-height: 0px;
  margin-bottom: 16px;
  padding: 18px 0px;
  border-radius: 4px;
  font-family: Avenir;
  background-color: #446CB3;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
 

  display: flex;
  justify-content: center;
  align-items: center;

}

.auth-btn h5 {
  margin: 0px;
}
.auth-link {
  cursor: pointer;
  display: inline;
  color: #008489 !important;
  font-weight: 700;
}
.auth-link:hover {
text-decoration: underline !important;
}

/* Overlay ////////////////////////////////////////////////////////////////// */
.generic-input {
  height: 60px;
  font-size: 20px;
  width: 100%;

}
.generic-form-text {
  font-size: 14px;
  margin-bottom: 16px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(0,132,137, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0,132,137, 0.6);
  outline: 0 none;
}

/* Landing - Search ///////////////////////////////////////////////////////// */
.landing-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(75vh - 76px);
  padding-top: 100px;
}
.landing-search h1 {
  font-weight: bolder;
  letter-spacing: 1.5px;
}
.landing-search h5 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  letter-spacing: 1px;
  line-height: 0px;
}
.landing-search-squeeze {
  margin-top: -200px;
  text-align: left;
  width: 100%;
  max-width: 900px;
}
.landing-search-squeeze-squeeze {
  text-align: left;
  width: 100%;
  max-width: 600px;
}
.landing-hot-squeeze {
  text-align: left;
  width: 100%;
  max-width: 900px;
}


















/* Landing - Hot //////////////////////////////////////////////////////////// */
.hot-title {
  padding-left: 10px;
  color: black !important;
}
.landing-items { 
  display: flex;
  flex-wrap: wrap;
}
.item {
  margin: 10px;
  width: 31%;
  min-width: 275px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #CED4DA;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
}
.search-container {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}










.biz-listing {
  margin-bottom: 20px;
  border-top: 6px solid #446CB3 !important;
  box-shadow: rgba(223, 225, 230, 1) 0px 8px 40px 0px;
}
.biz-listing:hover {
  top: -2px;
  box-shadow: rgba(223, 225, 230, 0.5) 0px 4px 30px 0px;
}
.biz-listing button {
  float: right;
}
.biz-btn {
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-family: Avenir;
  text-align: center;
  background-color: #446CB3;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.biz-2nd-btn {
  margin-right: 10px;
  color: #446CB3;
  padding: 5px 10px;
  border-radius: 4px;
  font-family: Avenir;
  text-align: center;
  background-color: white;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
.biz-2nd-btn:hover {
  color: #446CB3;
  background: rgba(0, 0, 0, 0.05);
}
.card-sub {
  width: auto !important;
  border-bottom: 1px solid #b15447;

}
.cust-alert {
  border-color: #446CB3 !important;
  background: rgba(68, 108, 179, 0.15)
}
.c-red {
  color: #b15447;
}
.c-green {
  color: #2ECC71;
}
.cust-footer {
  padding-top: 20px;
  padding-bottom: 30px;
  width: 100%;
  border-top: 1px solid #CED4DA !important;
}
.cust-footer h5 {
  margin: 0px;
}
.border-top {
  border-top: 1px solid #CED4DA !important;
}

.biz-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.biz-title h1 {
  margin: 0px;
}
.full {
  display: block;
  width: 100vw;
  height: 100vh;
}

/* Small */
.link { color: #446CB3 !important; }
.link:hover,
.link:visited,
.link:active { color: #2f4b7d !important; }
.between {
    display: flex;
    max-width: 400px;
    justify-content: space-between;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #CED4DA !important;
  
}


.filter h5 {
  margin: 0px;
  margin-right: 20px;
}
.filter-select {
  max-width: 150px;
  margin-right: 20px;
}


.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  /* width: 250px; remove this */
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  /* width: 20%; remove this */
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  /* width: 20%; remove this */
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
::after,
::before {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.star-rating.star-5 {width: 250px;}
.star-rating.star-5 input,
.star-rating.star-5 i {width: 10%;}
.star-rating.star-5 i ~ i {width: 20%;}
.star-rating.star-5 i ~ i ~ i {width: 30%;}
.star-rating.star-5 i ~ i ~ i ~ i {width: 40%;}
.star-rating.star-5 i ~ i ~ i ~ i ~i {width: 50%;}
.star-rating.star-5 i ~ i ~ i ~ i ~i ~i{width: 60%;}
.star-rating.star-5 i ~ i ~ i ~ i ~i ~i ~i{width: 70%;}
.star-rating.star-5 i ~ i ~ i ~ i ~i ~i ~i ~i{width: 80%;}
.star-rating.star-5 i ~ i ~ i ~ i ~i ~i ~i ~i ~i{width: 90%;}
.star-rating.star-5 i ~ i ~ i ~ i ~i ~i ~i ~i ~i ~i{width: 100%;}

.star-rating.star-3 {width: 150px;}
.star-rating.star-3 input,
.star-rating.star-3 i {width: 33.33%;}
.star-rating.star-3 i ~ i {width: 66.66%;}
.star-rating.star-3 i ~ i ~ i {width: 100%;}

